*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    background-color: #1e1e1e;
    width: 500px;
    border-radius: 30px;
    box-shadow: #00000033 0px 1px 10px;
}

img{
    width: 300px;
}

.content{
    background-color: #072a39;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 0px 0px 30px 30px;
}

h1{
    font-size: xx-large;
}

p{
    text-align: center;
}

.label span{
    font-size: x-small;
    border: 1px solid #c63f3f;
    border-radius: 50px;
    margin: 5px;
    padding: 5px 10px;
}

h2{
    font-size: x-small;
    font-weight: 800;
    margin-top: 15px;
}

span{
    font-size: xx-large;
}

button{
    background-color: #c63f3f;
    color: aliceblue;
    padding: 10px 40px;
    border-radius: 50px;
    border: none;
    margin-top: 20px;
}
