*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff7d8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.bandera {
    width: 300px;
    height: 200px;
    margin: 20px auto;
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.franja-celeste {
    background-color: #74acdf;
    width: 100%;
    height: 33.33%;
}

.franja-blanca {
    background-color: #efeeee;
    width: 100%;
    height: 33.33%;
}

.franja-verde {
    background-color: #009b3a;
    width: 100%;
    height: 33.33%;
}

.franja-azul {
    background-color: #0033a0;
    width: 100%;
    height: 33.33%;
}

.franja-roja {
    background-color: #ff0000;
    width: 100%;
    height: 33.33%;
}

.franja-amarilla {
    background-color: #ffdd00;
    width: 100%;
    height: 33.33%;
}

.franja-negra {
    background-color: #000000;
    width: 100%;
    height: 33.33%;
}

.bandera-mexico {
    flex-direction: row;
}

.vertical {
    width: 33.33%;
    height: 100%;
}