*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c2c2c;
    font-family: Arial, Helvetica, sans-serif;
}

.barras-contenedor {
    width: 550px;
    height: 400px;
    color: white;
    background-color: #434343;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.barra-progreso {
    width: 500px;
    height: 30px;
    background-color: #b0b0b0;
    border-radius: 100px;
    margin: 20px 0;
}

.barra-interna{
    height: 100%;
    background-color: #23968e;
    border-radius: 100px;
}

.barra10{
    width: 10%;
}

.barra25{
    width: 25%;
}

.barra50{
    width: 50%;
}

.barra75{
    width: 75%;
}

.barra9{
    width: 90%;
}