*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: #3279BA;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.container{
    width: 300px;
    background-color: #adadad;
    height: 35vh;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 5px;
}

.task{
    background-color: #fff;
    width: 96%;
    margin: 5px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-size: 14px;
}

h1{
    color: #fff;
    padding: 10px 0;
    font-size: large;
    margin-left:10px;
}

h2{
    font-size: medium;
    margin-top: 10px;
    margin-left: 6px;

}

p{
    font-size: small;
    color: #333;
    margin-left: 6px;
    margin-top: 40px;
}